{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
    	<ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kab_alphabet:alphabet' %}">Алфавит</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'numerals' %}">Числительные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'kab_rus_dictionary:kab_rus_dictionary' %}">Словарь</a>
            </li>
        </ul>
        <h1 class="text-center">Адыгэбзэ</h1>
        <p class="text-center"><strong>Адыгэбзэ</strong> — проект посвященный кабардино-черкесскому языку.</p>
        <p class="text-justify"><a href="{% url 'kab_alphabet:alphabet' %}">Алфавит</a> — современный кабардино-черкесский алфавит.</p>
        <p class="text-justify"><a href="{% url 'kab_rus_dictionary:kab_rus_dictionary' %}">Словарь</a> — на данный момент представлены более 2500 кабардино-черкесских слов. Словарь постоянно пополняентся новыми словами.</p>
        <p class="text-justify"><a href="{% url 'numerals' %}">Числительные</a> — перевод чисел от 0 до 999 999 999.</p>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <span class="mb-3 mb-md-0 text-body-secondary">Автор проекта: Эльдар Кодзаев <a href="mailto:ekodzaev@gmail.com">ekodzaev@gmail.com</a></span>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary"><a href="tg://resolve?domain=adigabza_bot">Телеграм-бот</a></span>
              </div>
          </footer>
    </div>
{% endblock %}