<div class="Pagination">
    <div class="Pagination-ins">
        {% if paginator.page.has_previous %}
            <a class="Pagination-element Pagination-element_prev"
               {% block previous_page_full_path %}{% endblock %}>
            </a>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if paginator.page.number == p %}
                <a class="Pagination-element Pagination-element_current" href="#">
                    <span class="Pagination-text">{{ paginator.page.number }}</span>
                </a>
            {% else %}
                {% if p == paginator.ELLIPSIS %}
                    <span class="Pagination-text">{{ p }}</span>
                {% else %}
                    <a class="Pagination-element"
                       {% block page_full_path %}{% endblock %}>
                        <span class="Pagination-text">{{ p }}</span>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if paginator.page.has_next %}
            <a class="Pagination-element Pagination-element_prev"
               {% block next_page_full_path %}{% endblock %}>
            </a>
        {% endif %}
    </div>
</div>
