{% extends 'base.html' %}

{% block title %}
    Буква
{% endblock %}

{% block content %}
    <h1>{{ letter.letter|capfirst }} {{ letter.letter }}</h1>
    <p>{{ letter.id }} буква кабардино-черкесского алфавита</p>
    {% if letter.is_vowel %}
        <p>Гласная</p>
    {% else %}
        <p>Согласная</p>
    {% endif %}

    {% with letter.words as words %}
        {% with words|length as words_count %}
            {% if words_count > 0 %}
                <h2>Слова, начинающиеся с этой буквы ({{ words_count }}):</h2>
                <ul>
                    {% for word in words %}
                        <li><a href="{{ word.url }}">{{ word.word }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endblock %}
