{% extends 'base.html' %}

{% block title %}
    Категории
{% endblock %}

{% block content %}
    <ul class="root">
        {% for category in categories_list %}
            <li>
                <a href="{{ category.url }}">{{ category.name }}</a>
            </li>
            {% with category.children as children %}
                {% if children %}
            	    {% include 'kab_dictionary/category_children.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}
