{% extends 'base.html' %}

{% block title %}
    {{ word }}
{% endblock %}

{% block content %}
    <h1>{{ content_json.word }}</h1>
    {% for translation in content_json.translations %}
        {{ forloop.counter }})
        <p>{{ translation.translation }}</p>
        <p>{{ translation.description }}</p>
        {% if translation.categories %}
            <span>Категории: </span>
            {% for category in translation.categories %}
                <span>{{ category }} </span>
            {% endfor %}
        {% endif %}
        <p>Часть речи: {{ translation.part_of_speech }}</p>
        {% if content_json.borrowed_from %}
            <p>Заимствовано из: {{ content_json.borrowed_from }}</p>
        {% endif %}
        {#        <p>Источник: {{ translation.source }}, {{ translation.source.name }} {{ translation.year }} {{ translation.url }}</p>#}
    {% endfor %}
{% endblock %}