{% extends 'base.html' %}

{% block title %}
    {{ word }}
{% endblock %}

{% block content %}
    <h1>{{ word }}</h1>
    {% for translation in translations_list %}
        <p>{{ translation.translation }}</p>
        <p>{{ translation.description }}</p>
        <span>Категории: </span>
        {% for category in translation.categories.all %}
            <span>{{ category }} </span>
        {% endfor %}
        <p>Часть речи: {{ translation.part_of_speech }}</p>
        <p>Заимствовано из: {{ translation.word.borrowed_from.name }}</p>
        <p>Источник: {{ translation.source.author }}, {{ translation.source.name }} {{ translation.year }} {{ translation.url }}</p>
    {% endfor %}
{% endblock %}