{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Кабардино-черкесско-русский словарь
{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
        {% include 'menu.html' %}
        <h1 class="text-center">Кабардино-черкесско-русский словарь</h1>
        <h1 class="text-center">Адыгэ-урыс псалъалъэ</h1>

        <form class="row row-cols-lg-auto align-items-center" method="get">
            {% bootstrap_form form layout="inline" %}
            {% bootstrap_button "Найти" %}
        </form>

        <ul class="list-group list-group-flush">
            {% for word in words %}
                <li class="list-group-item">
                    <a href="{{ word.word.url }}">{{ word.word.word }}</a>
                    <p>{{ word.translation }}</p>
                    {% if word.description %}
                        <p>{{ word.description }}</p>
                    {% endif %}
                    {% endfor %}
                </li>
        </ul>


        {% include 'kab_dictionary/pagination.html' %}
    </div>
{% endblock %}
