{% extends 'base.html' %}

{% block title %}
    Кабардино-черкесско-русский словарь
{% endblock %}

{% block content %}
    <form method="get">
        {{ form.as_p }}
        <input type="submit" value="Найти">
    </form>

    {% if words %}
        <ul>
            {% for word in words %}
                <a href="{{ word.get_absolute_url }}">{{ word }}</a>
                <p>{{ word.translations.translation }}</p>
                <p>{{ word.translations.description }}</p>
            {% endfor %}
        </ul>
    {% else %}
        <p>По Вашему запросу ничего не найдено</p>
    {% endif %}
{% endblock %}